<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <a href="http://localhost:3000/"><img src="http://i3.kym-cdn.com/photos/images/newsfeed/000/820/439/a4e.jpg"></a>
  </body>
</html>
